{% extends 'teamwork/index.html' %}

{% block content %}

    <section id="main-content">
      <section class="wrapper">
        <!--overview start-->
        <div class="row">
          <div class="col-lg-12">
            <h3 class="page-header"><i class="fa fa-tasks"></i> Tareas</h3>
            <ol class="breadcrumb">
              <li><a href="{% url 'teamwork:index' %}"><i class="fa fa-home"></i> Home</a></li>
              <li><a href="{% url 'teamwork:MostrarEquipos' %}"><i class="fa fa-group"></i> Equipos</a></li>
              <li><a href="{% url 'teamwork:VerEquipo' tarea.equipo.pk %}"><i class="fa fa-group"></i>  {{ tarea.equipo.nombre }}</a></li>
              <li><a href="{% url 'teamwork:MostrarTareas' %}"><i class="fa fa-tasks"></i> Tareas</a></li>
              <li><a href="{% url 'teamwork:VerTarea' tarea.pk %}"><i class="fa fa-tasks"></i>  {{ tarea.nombre }}</a></li>
              <li><a href="{% url 'teamwork:VistaRealizarTarea' tarea.pk %}"><i class="glyphicon g"></i> Realizar</a></li>
            </ol>
          </div>
        </div>

      <div class="row">
          <div class="col-lg-12">
            <section class="panel">
              <header class="panel-heading">
                Realizar tarea
              </header>
              <div class="panel-body">
                <div class="form">
                  <form class="form-validate form-horizontal" id="feedback_form" method="post" action="{% url 'teamwork:RealizarTarea' tarea.pk %}">
                      {% csrf_token %}

                        <div class="form-group ">
                              <label for="ccomment" class="control-label col-lg-2">Respuesta</label>
                              <div class="col-lg-10">
                                <textarea {{ editar }} class="form-control " id="ccomment" name="texto">{{ tarea.respuesta }}</textarea>
                              </div>
                         </div>

                        <div class="form-group">
                          <div class="col-lg-offset-2 col-lg-10">
                            <input {{ editar }} class="btn btn-primary" type="submit" value="Salvar">
                              {% if tarea.hecho == 0 %}
                                  <a href="{% url 'teamwork:TareaHechoEstudiante' tarea.pk %}"><label class="btn btn-success" >Hecho</label></a>
                              {% elif tarea.hecho == 1 %}
                                  <a href="{% url 'teamwork:TareaModificarEstudiante' tarea.pk %}"><label class="btn btn-danger" >Modificar</label></a>
                              {% else %}
                                  <label class="btn btn-success disabled" >Hecho</label>
                              {% endif %}

                          </div>
                        </div>
                  </form>
                </div>

              </div>
            </section>
          </div>
        </div>

{% endblock %}